*{
	margin: 0;
	padding: 0;
	
}
/*Centralizando elemento*/
.centralizar_elemento {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

/*btn abre menu*/
label[for="bt_menu"]{
	display: none;
	padding: 5px;
	margin-top: 10px; 
	background-color: #222;
	color: #fff;
	font-family: Arial;
	text-align: center;
	font-size: 30px;
	width: 50px;
	height: 50px;
	grid-row:1;
	grid-column:1;
	
}

#bt_menu{
	display: none;
}

.margem_sup{
	width: 100%;
	height: 80px;
	background-color: #fff;
}



/*Estilizando_Topo*/


.page-header {
   	display: grid;
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: 80px;
    background-color: #000;
    position: fixed;
    width: 100%;
}


.page-logo{
	grid-row: 1;
    grid-column:1;
}

.page-menu {
    grid-row: 1;
    grid-column:2;
    font-weight:10;
}

.page-menu ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	
}

.page-menu li{
	flex:auto;
	padding-left: 20px;

}

.page-menu a{
	text-decoration: none;
	color: #fff;
	padding: 10px;
	position: relative;
	font: 14px Arial;
	font-weight: bold;

}

.page-menu a:before{
	content: '';
	width:15px;
	height: 3px;
	background: #ed145d;
	position: absolute;
	top: 90%;
	left: 10px;
	transition: .5s;

}

.page-menu ul li:hover a:before{
	width: 50%;

}

.login{
	grid-row: 1;
    grid-column:3;
    text-align: center;
	text-decoration: none;
	list-style: none;
	font: 14px Arial;	
	color: #fff;
}

.login:hover{
	color: #ed145d;
	transition: .5s;
}

/*______________________________Responsivo_Topo_Inicio_______________________________________*/

/* iPads (restrato e paisagem) */
@media (max-width :1024px) {
      /* estilos */

    .page-header {
   	display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 80px; 
	}


	#bt_menu:checked ~ .page-menu {
		display: block;
	}

	label[for="bt_menu"]{
	display: block;
	
	}

    .page-logo{
		grid-row: 1;
    	grid-column:2;
	}

	.page-menu {
		display: none;
		width: 100%;
		grid-row-start:2;
		grid-row-end:3;
    	grid-column-start: 1;
    	grid-column-end: 4;
    	background: #ed145d;
    	transition: all .5s;
    }

    .page-menu {
		
    }

	.page-menu ul{
		display: block;
		width: 100%;
	}

	.page-menu li{
		padding: 20px;
		flex:none;
		border:solid 1px black;
	}

	.page-menu li:hover{
		background-color: rgba(0, 0, 0, 0.8);
		transition: .5s;
	}

	.page-menu a:before{
		background-color: #fff;
	}

}

/*______________________________Responsivo_Topo_Fim___________________________________________*/



/*Outra página CSS */

.page-content {
   height: 1000px;
}

.page-footer {
    grid-row: 3;
  	grid-column-start: 1;
    grid-column-end: 4;
    background: red;
}