<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% load static %} 
{% load widget_tweaks %}

{% block conteudo %}

<div class="container gallery-container">
	<div class="page-header">
		<h1>Alterar senha <img src="{% static 'images/cake.png' %}"></h1>
	</div>
	<div class="tz-gallery">
		{% block messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			{{ message }}
		</div>
		{% endfor %}
		{% endblock %}    

		<div class="login-wrap">
			<div class="login-html">
				<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Alterar senha</label>
				<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
				<div class="login-form" action="" method="POST">
					<div class="sign-in-htm" style="color: #fff">
						{% block title %}Senha alterada com sucesso{% endblock %}
						<br>
						<br>
						{% block content %}
						<h3>Senha alterada</h3>
						<p>
							Sua nova senha foi definida. Você pode logar agora <a href="{% url 'login' %}">Clicando aqui!</a>.</p>
							{% endblock %}
						</div>


					</div>
				</div>
			</div>

		</div>
	</div>
</div>


{%endblock %}























