{% extends 'base.html' %}
{% load static %} 
{% block conteudo %}

<div class="container gallery-container">
    <div class="tz-gallery">
      <div class="page-header">
        <h1>Finalização da Compra</h1>
      </div>
    <ol class="breadcrumb">
      <li><a href="{% url 'index' %}">Início</a></li>
      <li><a href="{% url 'checkout:cart_item' %}">Carrinho de Compras</a></li>
      <li class="active">Finalização da Compra</li>
    </ol>
        <!-- Alertas -->
    {% block messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
      {{ message }}
      </div>
      {% endfor %}
    {% endblock %}

    <fieldset>

  <h3>Resumo do pedido</h3>
  </br>
    <div class="row">
      <div class="col-md-11">
      <table class="table table-bordered">
        <thead>
          <th>ID</th>
          <th>Total</th>
          <th>Situação</th>
          <th>Data</th>
          <th style="width: 10%;">Meio de Pagamento</th>
        </thead>
        <tbody>
          <tr>
            <td>#{{ pedido.pk }}</td>
            <td>{{ pedido.total|floatformat:"2" }}</td>
            <td>{{ pedido.get_status_display }}</td>
            <td>{{ pedido.criado|date:"d/m/Y H:i" }}</td>
            <td>A escolher</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

      <h3>Itens do Pedido</h3>
      </br>
      </fieldset>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
          </tr>
        </thead>
        <tbody>
          {% for item in pedido.items.all %}
          <tr>
            <th scope="row">{{ item.produto }}</th>
            <td>{{ item.quantidade }}</td>
            <td>R$ {{ item.preco_p|floatformat:"2" }}</td>
          </tr>
          {%endfor%}      
        </tbody>
      </table>

    <div class="row col-md-8 col-md-offset-2"style="padding-bottom: 70px;">
        <div class="col-md-16">
            <p>
                <img src="{% static 'images/paypal.png' %}" style="width: 165px; margin-left: 0%;">
                <img src="{% static 'images/pagseguro.png' %}" style="width: 165px; margin-left: 45%;">             
            </p>
        </div>
        <div class="col-md-8" style="">
            <a href="{% url 'checkout:paypal_view' pedido.pk %}" class="btn btn-primary">Pagar com Paypal</a>
        </div>
        <div class="col-md-4">
          <a href="{% url 'checkout:pagseguro_view' pedido.pk %}" class="btn btn-success">Pagar com Pagseguro</a>
        </div>

    </div>
    </div>
</div>

{%endblock%}
