{% extends 'base.html' %}
{% load static %} 
{% block conteudo %}
{% load widget_tweaks %}

<div class="container gallery-container">

    <h1>Contrato</h1>
    
    <div class="tz-gallery">
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}">Início</a></li>
            <li class="active">Contrato de aluguel</li>
        </ol>

        <!-- Alertas -->
        {% block messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
      </div>
      {% endfor %}
      {% endblock %}


      <style type="text/css">
      label.disabled {color: #888;}
      label {color: #000; cursor: pointer;}
      #termos{
        width: 800px;
        height: 350px;
        padding: 10px 20px;
        overflow: auto;
        border: 2px solid aaa;
        background: #e2e2e2;
        box-shadow: 1px 1px 1px 1px #a09e9e;
        text-align: left;
        margin: auto;
    }

    #check{
        margin: auto;
        width: 260px;
    }
</style>


<div id="termos">

    <h2>CONTRATO DE PRESTAÇÃO DE SERVIÇOS</h2></br>
<span style="color: #ff9900;"><strong>CONTRATADA</span></strong>: Sirley Aline Lima Pereira da Silva ( SI LIMA FESTAS E EVENTOS)</br>
{% if user.is_authenticated %}
<span style="color: #ff9900;"><strong>CONTRATANTE</span></strong>: {{user.nome}} {{user.sobrenome}} </br>
{%else%}
CONTRATANTE: _______________________________________</br>
{%endif%}

{% if user.is_authenticated %}
<span style="color: #ff9900;"><strong>CPF</span></strong>: {{user.cpf}}</br>
{%else%}
RG:________________________ CPF:________________________________</br>
{%endif%}

{% if user.is_authenticated %}
<span style="color: #ff9900;"><strong>END</span></strong>: {{user.rua}} nº {{user.numero}} {{user.bairro}} - {{user.estado}}</br>
{%else%}
END.:______________________________________________________________________</br>
{% endif %}
</br>

<p>As partes acima identificadas têm, entre si, justo e acertado o presente contrato de prestação de
    serviços, que se regerá pelas clausulas seguintes e pelas condições de preço, forma e termo de
pagamento descritas no presente contrato.</p>

DO OBJETO DO CONTRATO
Clausula 1a. É objeto do presente contrato, a prestação de serviços ou locação de equipamento :
________________________________________________________________________________
pela CONTRATADA à CONTRATANTE, para o evento que se realizará no dia __/__/20__, as
_______horas, situado na
Rua________________________________________________________________na cidade de
São Paulo.
OBRIGAÇÃO DA CONTRATANTE
Clausula 2a. A CONTRATANTE deverá fornecer à CONTRATADA todas as informações necessárias
para a realização do serviço, devendo especificar o material, tipo e a quantidade.
Clausula 3a. É dever da CONTRATANTE entregar/devolver o(s) produto(s) de acordo com o que foi
locado em até 24 horas conforme acordado com a CONTRATADA.
OBRIGAÇÃO DA CONTRATADA
Clausula 4a. É dever da CONTRATADA oferecer o serviço de acordo com as especificações da
CONTRATANTE, devendo o material ser entregue no dia ___/___/____até as_____ horas no
endereço já especificado na Clausula 1a.
Clausula 5a. O serviço contratado no presente instrumento será remunerado pela quantia de R$
100,00 (Cem Reais), devendo ser pago 20% do valor quando solicitar a reserva da data escolhida
em dinheiro ou depósito bancário (Bradesco Agência 1974 Conta 31038-7) e os outros 70% no ato

da entrega em DINHEIRO (não aceitamos pagamento pós festa, cartão ou cheque).
Parágrafo Único: Quanto a entrega do(s) produto(s):
( ) Ficará por conta da CONTRATANTE pegar e entregar o produto no endereço da CONTRATADA
nas embalagens originais enviadas, deixando as cópias dos documentos e comprovante de
residência em nome de quem alugou.
( ) Ficará por conta da CONTRATADA entregar no endereço do evento, dia e hora especificado na
Clausula 1a, mediante pagamento de taxa de entrega no valor de
R$_________(_________________________________________)
( ) Frete grátis.
DA DEVOLUÇÃO
Clausula 6a. É dever da CONTRATANTE entregar o(s) produto(s) de acordo com o que foi locado,
devendo o material ser entregue branco, limpo e em perfeito estado de conservação em até 24
horas da data do evento (clausula 1a) no endereço da CONTRATADA ou conforme combinado
entre as partes. Caso haja perda ou dano, a CONTRATANTE arcará com 100% do valor de uma peça
nova para reposição em dinheiro. O valor integral do mesmo será especificado na NOTA
PROMISSÓRIA que será assinada no momento da retirada da locação e que será entregue junto ao
equipamento no dia da devolução. Caso ocorra algum dano ao equipamento e não haja o
ressarcimento será protestada a nota promissória de N°____________
DO CANCELAMENTO
Clausula 7a. Em caso de desistência a CONTRATANTE perderá o sinal de 50% já pago, podendo
remarcar caso precise, e tendo disponibilidade das peças ou de peças semelhantes para a nova
data escolhida.
DAS CONDIÇÕES GERAIS
Clausula 8a. O orçamento ou aceite referente ao serviço contratado, enviado dia __/__/20__ por
e-mail, faz parte integrante deste contrato.
DO FORO
Clausula 9a. E por estarem justos e contratados, assinam o presente instrumento, em duas vias de
igual teor e forma.
São Paulo, _____ de _____________________ de 2018.

_______________________________ _____________________________
Contratante (Cliente) Si Lima - Eventos      
</div><br/>

<section id="check">
    <input type="checkbox" id="contrato" /> 
    <label for="contrato" id="labContrato">Eu li o contrato e aceito os termos</label><br />
</section>





<h1>Item(s) do contrato</h1>
</br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form class="" action="" method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table table-bordered">
                <thead>
                    <th>
                        ID
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Preço
                    </th>
                    <th style="width: 10%;">
                        Quantidade
                    </th>
                    <th>


                    </th>
                    <th>

                    </th>
                </thead>
                <tbody>
                    {% for form in formset %}
                    <tr>
                        <td>
                            {{ form.instance.produto.pk }}
                        </td>
                        <td>
                            {{ form.instance.produto }}
                        </td>
                        <td>
                            R$ {{ form.instance.preco_p|floatformat:"2" }}

                        </td>
                        <td>
                            {% render_field form.quantidade class='form-control' %}
                        </td>
                        <td>

                        </td>
                        <td class="text-center">
                            <button value="on" type="submit" name="{{ form.DELETE.html_name }}" class="btn btn-danger btn-sm">remover</button>
                            {{ form.id }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>


            </table>

            <p class="text-right">
                <a href="{% url 'lista_produto' %}" class="pull-left btn btn-default">Voltar para lista de itens</a>
                <button type="submit" class="btn btn-primary" name="button">Atualizar Contrato</button></li>

                <a href="{% url 'contrato:checkout_contrato'%}" class="btn btn-success" id="Btfinalizar">Finalizar Contrato</a>
            </p>

        </br>
        <section class="line"></section>
        <section class="resumo_carrinho">
            <h3>Resumo do Contrato</h3>
            <h5>Total do pedido : R$ {{total|floatformat:"2" }}</h5>
            <dd></dd>
        </section>


    </form>
</div>
</div>
</div>
{%endblock%}



{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {  
        $("#labContrato").addClass("disabled");
        $("#Btfinalizar").addClass("disabled");
        $("#contrato").attr({disabled: "disable"});    
        $("#continuar").attr({disabled: "disabled"});
        $("#contrato").click(function(){    
            var check = $("#contrato").is(":checked") ? false : 'disabled';
            $("#continuar").attr({disabled: check});
            if(!check) {
                $("#labContrato").removeClass("disabled");
                $("#Btfinalizar").removeClass("disabled"); 
            } else {
                $("#labContrato").addClass("disabled");
                $("#Btfinalizar").addClass("disabled"); 
            }           
        });     

        $("#termos").scroll(function() {
            if ((this.scrollTop + this.clientHeight + 1) >= this.scrollHeight) {
                $("#contrato").attr({disabled: false});    
                $("#labContrato").addClass("disabled");
            }
        });

        $("#termos").each( function() {
            bootbox.alert('"Atenção! \nPara liberar a finalização de seu contrato, basta ler o mesmo ate o final e aceitar os termos e condições!\n Obrigado. "')
        });

    });
</script>

{% endblock %}


