{% extends "cadastro/minhaconta.html" %}

{% block title %}Minha Conta{% endblock %}

{% block accounts_container %}

<fieldset>

<h2>Meus Contratos</h2>
<table class="table table-bordered">
    <h2>Contrato #{{ pedido.pk }}</h2>
<dl class="dl-horizontal">
    <dt>Total R$</dt>
    <dd>{{ object.total|floatformat:"2" }}</dd>
    <dt>Situação</dt>
    <dd>{{ object.get_status_display }}</dd>
    <dt>Data</dt>
    <dd>{{ object.criado|date:"d/m/Y H:i" }}</dd>
    <dt>Meio de Pagamento</dt>
    <dd>{{ object.get_opcoes_de_pagamento_display }}</dd>
</dl>
<h3>Itens do Pedido</h3>
    {% for item in object.items.all %}
    <dl class="dl-horizontal">
        <dt>Produto</dt>
        <dd>{{ item.produto }}</dd>
        <dt>Quantidade</dt>
        <dd>{{ item.quantidade }}</dd>
        <dt>Preço</dt>
        <dd>R$ {{ item.preco_p|floatformat:"2" }}</dd>
    </dl>
    {%endfor%}
</table>


</fieldset>
{% endblock %}