{% extends "minhaconta.html" %}

{% load widget_tweaks %}

{% block title %}Alterar Configurações{% endblock %}

{% block accounts_container %}
 
<h2>Alterar Configurações</h2>
    <form class="form-horizontal col-md-3 control-label" action="" method="post">
        {% csrf_token %}
        <fieldset>
          <h3>Facebook</h3>
          <form class="form-horizontal" action="" method="post">
            {% if facebook_login %}
              <p>conexão<a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
              
              {% if can_disconnect %}
                <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
                  {% csrf_token %}
                  <button type="submit">Desconectar-se</button>
                </form>
              {% else %}
                  <button type="button" disabled>Desconectar do facebook</button>
                  <p style="color: red">Você deve <a href="{% url 'alterarsenha' %}">definir uma senha para sua conta</a> antes de desconectar do Facebook.</p>
              {% endif %}
              
              {% else %}
               <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Entrar com facebook
              </a>
            {% endif %}
            </form>

            <h3>GitHub</h3>
            <form class="form-horizontal" action="" method="post">
            {% if github_login %}
            <p>conexão <a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>
              {% if can_disconnect %}
                <form method="post" action="{% url 'social:disconnect' 'github' %}">
                  {% csrf_token %}
                  <button type="submit">Disconnect from GitHub</button>
                </form>
              {% else %}
                  <button type="button" disabled>Disconnect from GitHub</button>
                  <p style="color: red">Você deve <a href="{% url 'alterarsenha' %}">definir uma senha para sua conta</a> antes de desconectar do Github.</p>
              {% endif %}
              {% else %}
              <a href="{% url 'social:begin' 'github' %}" class="btn btn-block btn-social btn-github">
                <span class="fa fa-github"></span> Entrar com Github
              </a>
              {% endif %}
          </form>

          <h3>Google</h3>
              <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google">
                <span class="fa fa-google"></span> Entrar com Google
              </a>
        </fieldset>
    </form>
     
        

    
{% endblock %}



