<!DOCTYPE html>
 {% load static %} 
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Si Lima - Festas e Eventos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="o8T8bcReiMYG3qarYEMgdkICXCDK8_XldGAzyLws1EA" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="google-site-verification" content="HjErs8honfeAnXOq2KTwrbJVNTfIiQ9BZRcTM1RttnY" /> 
  <meta name="language" content="pt-br" />
  <meta name="resource-type" content="document" />
  <meta name="classification" content="Internet" />
  <meta name="distribution" content="Global" />
  <meta name="author" content="Fabyo" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta http-equiv="Pragma" content="no-cache" />

<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" /> 
  
  <link rel="shortcut icon" type="image/png" href="/Logo.png"/>
  <link rel="shortcut icon" type="image/png" href="static/images/Logo.png"/>
  

  <!--CSS externo bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <script src="https://github.com/makeusabrew/bootbox/releases/download/v4.4.0/bootbox.min.js"></script>

  <!--CSS interno-->
  <link rel="stylesheet" href="{% static 'css/boot/bootstrap-social-gh-pages/bootstrap-social.css' %}" media="screen" />
  <link rel="stylesheet" href="{% static 'css/boot/bootstrap-social' %}" media="screen" />
  <link rel="stylesheet" href="{% static 'css/boot/bootstrap.min.css' %}" media="screen" />
  <link rel="stylesheet" href="{% static 'css/boot/custom.min.css'%}" media="screen" />
  <link rel="stylesheet" href="{% static 'css/slider.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/index.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/base.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/detalhe_produto.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/login.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/form.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/registrar.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/festa.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/produto_unico.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/quemsomos.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/pagination.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/servicos.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/btnsocial.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/carrinho.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/calculadora.css'%}" type="text/css">

  <link rel="stylesheet" href="{% static 'css/css_produto_unico/style.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/css_produto_unico/flexslider.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/css_produto_unico/jquery-ui1.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/css_produto_unico/easy-responsive-tabs.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/css_produto_unico/shop.css'%}" type="text/css">

 


  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P9W9TG9');</script>
  <!-- End Google Tag Manager --> 



</head>

<body>
  <header>
    <nav class="menu_usuario">
        
        <li class="dropdown"><!--Menu usuário responsivo fase 1-->
            <span class="m1"><img src="{% static 'images/topo/menu.png' %}"></span>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="menu1">Conta <span class="caret">
            <span></a>
            <ul class="dropdown-menu" aria-labelledby="download">
              <li><a href="{% url 'index' %}">Entrar</a></li>
              <li><a href="{% url 'registrar' %}">Cadastre-se</a></li>
            </ul>
        </li>
        
        <li class="dropdown"> <!--Menu usuário responsivo fase 2-->
            <span class="m2"><img src="{% static 'images/topo/menu.png' %}"></span>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="menu2">Conta <span class="caret">
            <span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="{% url 'login' %}">Entrar</a></li>
                <li><a href="{% url 'registrar' %}">Cadastre-se</a></li>
                <li><a href="{% url 'minhaconta' %}">Minha conta</a></li>
                <li><a href="{% url 'quemsomos' %}"">Quem somos</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
              </ul>
        </li>


        <li class="item1">
        {% if user.is_authenticated %}
           <span><img src="{%static 'images/topo/login.png' %} "></span> 
           Olá {{user.username}}, Seja bem-vindo!</a><a href="{% url 'logout' %}"> Sair</a>
        </li>
        {%else%}
          <span><img src="{% static 'images/topo/login.png' %}"></span>
          Seja bem-vindo!<a href="{% url 'registrar' %}" class="txt-branco"> Cadastre-se</a> ou efetue o <a href="{% url 'login' %}" class="txt-branco">Login</a>
        {%endif%}

        </li>
        <li class="carrinho_menu_usuario"><img src="{% static 'images/topo/carrinho.png' %}"> ( 0 )</li> <!--carrinho de compras responsivo--> 
        <li class="item2"><a href="{% url 'checkout:lista_pedido' %}">Meus Pedidos</a></li>
        <li class="item3"><a href="{% url 'minhaconta' %}">Minha Conta</a></li>
        <li class="item4"><a href="{% url 'location:contrato_item' %}">Aluguel de serviços</a></li>
        <li class="item5"><span><img src="{% static 'images/topo/whatsapp-logo.png' %}"> </span>(11)0000-0000</li>
        <li class="item6">
            <span><img src="{% static 'images/topo/facebook-logo.png' %}"></span>
            <span><img src="{% static 'images/topo/instagram-logo.png' %}"></span>
        </li> 

    </nav>

    <section class="conteudo">
      <div class="logo"> <a href="{% url 'index' %}" >
        <img src="{%static 'images/topo/logo_silima.png' %}">  
         </a> 
      </div>
      <!--Begin Pesquisa-->
      <form class="pesquisa" role="search" action="{% url 'lista_produto' %}">
        <input name="q"  type="text" placeholder="Buscar">
        <button class="pesquisa-button"><img src="{%static 'images/topo/btn_busca.png' %}"></button>
      </form>

      <!--End Carrinho-->
      <a href="{% url 'checkout:cart_item'%}">
      <div class="carrinho">
          <button class="carrinho_button"><img src="{%static 'images/topo/carrinho.png' %}"> Compras</button>
          <div class="preco-carrinho"> 0 itens | R$ 0,00 </div>
      </div>
      </a>  
    </section>

      <nav class="menu_categorias">
        <div class="main clearfix">
          <nav id="menu" class="nav">         
            <ul>
              {%for categoria in categorias %}
                  <li>
                    <a href="{{ categoria.get_absolute_url }}">
                      <span class="icon">
                        <i aria-hidden="true"><img src="{{categoria.imagem.url}}"></i>
                      </span>
                      <span>{{categoria.nome}}</span>
                    </a>
                  </li>
              {%endfor%}
            </ul>
          </nav>
        </div> 
      </nav>
    </div><!-- /Fim -->
    

    </header> 

    <main class="container">
      {% block conteudo %}


      {% endblock %}
    </main>

    <!--newslleter-->
    <section class="news"> 
        <figure><img src="{%static 'images/email.png' %}"></figure>
        <span>NEWSLLETER</span>
        <input type="text" name="news" value="E-mail">
        <button class="pesquisa-button">Cadastrar</button>
    </section>
    <!--fim - newslleter-->

    <footer class="bg-rodape">

       <div class="arabesco">
         <img src="{%static 'images/Arabesco.png' %}">
       </div> 

      <nav class="menu-rodape">

           <li class="sobre_silima" >
            <a class="style_circulo" href="{% url 'quemsomos' %}">
              <img src="{%static 'images/Logo.png' %}" style="height: 45px; margin-top: 30%;">
            </a>
            <p class="texto">Sobre Nós</p>
          </li>
          
          <li class="calculadora" >
            <a class="style_circulo" href="{% url 'calculadora' %}">
              <img src="{%static 'images/Calculadora.png' %}" style="height: 45px; margin-top: 30%;">
            </a>
            <p class="texto">Calculadora</p>
          </li>

          <li class="festa" >
            <a class="style_circulo" href="{% url 'festas' %}">
              <img src="{%static 'images/Festas.png' %}" style="height: 45px; margin-top: 30%;">
            </a>
            <p class="texto">Festas</p>
          </li>
          
          <li class="servico">
            <a class="style_circulo" href="{% url 'servicos' %}"">
              <img src="{%static 'images/servico.png' %}" style="height:45px; margin-top: 30%;">
            </a>
            <p class="texto">Serviços</p>
          </li>
          
          <li class="nossas-dicas">
            <a class="style_circulo" href="">
              <img src="{%static 'images\nossasdicas.png' %}" style="height:45px; margin-top: 30%;">
            </a>
            <p class="texto">Nossas Dicas</p>
          </li>

          <li class="contato">
            <a class="style_circulo" href="{% url 'contato' %}">
              <img src="{%static 'images/contato.png' %}"style="height:45px; margin-top: 30%;";>
            </a>
            <p class="texto">Contato</p>
          </li>
      </nav>
      
       <div class="arabesco">
         <img src="{%static 'images/Arabesco.png' %}">
       </div>     

  <section class="info">
     
    <section class="envio">
      <p>Formas de Envio:</p>
      <img src="{%static 'images/envio.png' %}">
    </section>  


    <section class="pagamento">
      <p>Formas de Pagamento:</p>
      <img src="{%static 'images/pagseguro.jpg' %}">
    </section> 

    <section class="seguro">
      <img src="{%static 'images/seguro.png' %}">
    </section> 


   </section>

  <section class="obrigado">
      <p>Obrigado por nos visitar, volte sempre!</p>
  </section> 

  </footer>
  
  
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">


    <script src="{%static 'css/bootbootstrap.min.js' %}"></script>
    <script src="{%static 'js/menu_categorias.custom.js' %}"></script>
    <script src="{%static 'js/slider.js' %}"></script>
    <script src="{%static 'js/MenuFixo.js' %}"></script>
    <script src="{%static 'js/menu.js' %}"></script>
    <script src="{%static 'js/produto.js' %}"></script>
    <script src="{%static 'js/calculadora.js' %}"></script> 


    {% block scripts %}{% endblock %}

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9W9TG9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) --> 


</body>
</html>