{% extends 'base.html' %}
{% load static %} 
{% block conteudo %}


<div class="container gallery-container">

    <p class="page-description text-center">Entre em contato conosco</p>
    
    <div class="pgContato">  
	   <div class="contato">  
	      <div class="formContato">
	      	{for label in form  }  
	         <form action="#" id="formContato" method="post" tabindex="1">  
	            <input type="text" id="nome" name="nome" placeholder="Nome" required />  
	            <input type="email" id="email" name="email" placeholder="Email" required />  
	            <input type="tel" id="tel" name="tel" placeholder="Telefone" />  
	            <textarea id="conteudo" name="conteudo" placeholder="Deixe uma mensagem" required ></textarea>  
	            <button type="submit" class="botaoContato">Enviar</button>  
	         </form>  
	      	{endfor}
	      </div>  
	   </div>  
	</div>  

	<figure class="img_contato">
		<img src="{%static 'images/festa.png' %}">
	</figure>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>

{%endblock%}