{% extends 'base.html' %}
{% load static %} 
{% block conteudo %}

<div class="container gallery-container">

    <h1>Confira nossas melhores festas ! </h1>

    <p class="page-description text-center">Galeria de fotos</p>
    
    <div class="tz-gallery">

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{% static 'images/festas/festa1.jpg' %}">
                    <img src="{% static 'images/festas/festa1.jpg' %}" alt="">
                </a>
            </div>

           <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{% static 'images/festas/festa3.jpg' %}">
                    <img src="{% static 'images/festas/festa3.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{% static 'images/festas/festa4.jpg' %}">
                    <img src="{% static 'images/festas/festa4.jpg' %}" alt="">
                </a>
            </div>

        </div>

    </div>

</div>

{%endblock%}