{% extends 'base.html' %}
{% load static %} 
{% load widget_tweaks %}
{% block conteudo %}

<div class="container gallery-container">
	<div class="page-header">
    	<h1>Login <img src="{% static 'images/cake.png' %}"></h1>
    </div>
    <div class="tz-gallery">

    <div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Entrar</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
        <div class="login-form" action="" method="POST">
            <div class="sign-in-htm">
                <form class="form-horizontal" method="POST" action="">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                    {% endfor %}
                    <fieldset>
                        <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                          <label for="{{ form.username.auto_id }}" class="col-md-3 control-label">{{ form.username.label }}</label>
                          <div class="col-md-9">
                            {% render_field form.username class="form-control" %}
                            {% for error in form.username.errors %}
                            <span class="help-block">{{ error }}</span>
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                          <label for="{{ form.password.auto_id }}" class="col-md-3 control-label">{{ form.password.label }}</label>
                          <div class="col-md-9">
                            {% render_field form.password class="form-control" %}
                            {% for error in form.password.errors %}
                            <span class="help-block">{{ error }}</span>
                            {% endfor %}
                          </div>
                        </div>


                    <div class="form-group">
                        <div class="col-md-4 center-block">
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>
                    </div> 
                        <div class="row omb_row-sm-offset-3 omb_loginOr">
                            <div class="col-xs-12 col-sm-6">
                                <hr class="omb_hrOr">
                            </div>
                         </div>

                </fieldset>
            </form>       
                <section>
                    <h4 class="omb_authTitle">Entrar com</h4>
                        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook">
                            <span class="fa fa-facebook"></span> Entrar com facebook
                        </a>
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google">
                            <span class="fa fa-google"></span> Entrar com Google
                        </a>
                        <a href="{% url 'social:begin' 'github' %}" class="btn btn-block btn-social btn-github">
                            <span class="fa fa-github"></span> Entrar com Github
                        </a>
                </section>
                </br>
                <a href="#">Esqueceu sua senha ? Clique aqui!</a>

            </div>
        </div>
    </div>

</div>
</div>
</div>
{%endblock%}