{% extends 'base.html' %}
{% load static %} 
{% block conteudo %}

<div class="container gallery-container">
    <div class="page-header">
        <h1>Nossas Dicas! <img src="{% static 'images/origami.png' %}"></h1>
    </div>

    <div class="tz-gallery">

    <div class="container">
        <div class="row">
        <div class="col-md-3">       
        </div>
        <div class="col-md-6"><br><br><br>
                <div class="panel panel-default">
      <div class="panel-body">
      <div class="pull-left media">
            
        </div>
         <div class="pull-right"><br>
        </div>
     <center>
      <h4>Decoração de festa DIY está na moda</h4>
      </center>
    <p>O DIY (Do it Yourself ou faça você mesmo, em português) está super em alta e você pode aproveitá-lo para ter ideias de decoração de festa dos mais diversos tipos, como de aniversário, decoração de festa junina, noivado, chá de cozinha, casamento, decoração de chá de bebê, dentre outros.</p>

    <p>São inúmeras as possibilidades de decoração de festa DIY que, com alguma habilidade para atividades manuais e um pouco de paciência, vão deixar a decoração de festa muito mais bonita. E para a decoração para festa DIY você pode fazer coisas pequenas, como lembrancinhas, ou mesmo algo maior, como móveis de pallet!</p>

    <p>A grande vantagem de uma decoração de festa DIY é que dificilmente outras pessoas terão uma decoração de festa igual à sua. Então, se seu foco é exclusividade, com muitas fotos lindas nas redes sociais, invista sem medo nesse tipo de decoração de festa!</p>
    
    Playstore satın alma linki.<br><br>
    <center><img src="{% static 'images/dec.jpg' %}" class="img-responsive"></center>
    <hr>
    <div class="pull-left">
    </div>
    <div class="pull-right">
    <a href="https://www.facebook.com/DLZYagiz"><i class="fa fa-2x fa fa-facebook-square"></i></a>  
    <a><i class="fa fa-2x fa fa-google-plus-square"></i></a>  
    <a><i class="fa fa-2x fa fa-twitter-square"></i></a>  
    
    </div>

    <br><br>
    <center>
            <h4>Comece com antecedência</h4>
    </center>
    <p>Atecedência faz parte da organização. Você não quer se estressar nem gastar mais para ter um resultado ruim, certo? Então, observe as festas que vai, guarde informações dos profissionais que fizeram bons serviços nelas, veja revistas e sites. Converse com sua criança se ela tiver idade para isso (Pode ser que ela queira uma viagem ao invés de festa! Mas dê um prazo para que possa mudar de ideia). Faça isso com muita antecedência para que, quando começar a contatar os profissionais (o que deve ser feito, no mínimo com 1 mês de antecedência para uma festa que seja bem simples) , você já saber o que quer e não enlouquecer e gastar mais do que deve.</p>


    <img src="{% static 'images/dec2.jpg' %}" class="img-responsive" style="width: 100%"><hr>
    <div class="pull-left">
    </div>
    <div class="pull-right">
    <a href="https://www.facebook.com/DLZYagiz"><i class="fa fa-2x fa fa-facebook-square"></i></a>  
    <a><i class="fa fa-2x fa fa-google-plus-square"></i></a>  
    <a><i class="fa fa-2x fa fa-twitter-square"></i></a>  
    
    </div>

    <br><br>
    <center>    
            <h4>Pense no Conceito</h4>
    </center>
    <p>Pode ser no tema e estilo. Com isso vem as cores que vão ser usadas. Converse com a criança e tenha jeitinho para descartar ideias que não vão ser possíveis (ou tente, com a criança, alternativas criativas e possíveis). Converse também sobre brincadeiras, comidinhas, doces, salgados, atrações, músicas, convidados, etc, desejados. Anote tudo e sempre dê prazos máximos para mudanças. Quando estiver chegando o prazo revise tudo que foi combinado com seu filho/a.</p>
    
    <img src="{% static 'images/dec3.jpg' %}"class="img-responsive"><hr>
    <div class="pull-left">
    </div>
    <div class="pull-right">
    <a href="https://www.facebook.com/DLZYagiz"><i class="fa fa-2x fa fa-facebook-square"></i></a>  
    <a><i class="fa fa-2x fa fa-google-plus-square"></i></a>  
    <a><i class="fa fa-2x fa fa-twitter-square"></i></a>  
    
    </div></div>
</div>
</div>
</div>
</div>



    </div>

</div>

{%endblock%}