{% extends 'base.html' %}
{% load static %} 
{% block conteudo %}


<div class="container gallery-container bg-quemsomos" >
    	<section class="quemsomos">
				<h1>QUEM SOMOS</h1>

				<p>Na Silima Festas & Eventos, todo dia é dia de festa! Sim, porque para celebrar a vida, basta apenas um bom motivo. E se tem uma coisa de que a Silima Festas & Eventos se orgulha, é de saber bem o que é festejar. Nossa história começa em 2015, como uma família.</p>

				<p>No mesmo ano, especializando-se em artigos para festas, surge a Silima Festas & Eventos. Hoje, a loja é referência deste segmento em nossa cidade. A imagem de credibilidade e confiança entre os Paulistas é tão forte que somos sempre convidados de muitos eventos.</p>

				<p>E nós fazemos mais que vender artigos para festas! Estamos preocupados em oferecer a melhor solução para seu evento, seja ele qual for. A Silima Festas & Eventos faz questão de estar com você em todos os momentos da sua vida, desde o chá de bebê até suas bodas de ouro e em todos os seus aniversários. Fazemos suas festas infantis ou adultas ficarem mais divertidas e coloridas.</p>

				<p>Nos aniversários, no baile de debutantes e na formatura, no chá de panelas e no casamento, nas festas de família como a páscoa e o natal, conte sempre conosco. Estamos com você até mesmo na Copa do Mundo: a cada quatro anos, oferecemos produtos especiais para você comemorar com uma grande festa verde-amarela. Afinal, o nosso principal negócio é a sua alegria.</p>
    	</section>

</div>

</body>
</html>

{%endblock%}