{% extends 'base.html' %}
{% load static %} 
{% load widget_tweaks %}
{% block conteudo %}

<div class="container gallery-container">
	<div class="page-header">
    	<h1> Cadastre-se <img src="{% static 'images/cake.png' %}"></h1>
    </div>
    <div class="tz-gallery">
    	<div class="login-wrap">
    		<div class="login-html">
        	<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Cadastrar</label>
        	<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
	        	<div class="login-form" action="" method="POST">
	            	<div class="sign-in-htm">
	            		<td colspan="1">
		            		<form class="form-horizontal" method="POST">
		            			{%csrf_token%}
		                    	{% for error in form.non_field_errors %}
		                    		<div class="alert alert-danger">{{ error }}</div>
		                    	{% endfor %}
		                    	<fieldset>
			                    	{%for field in form %}	
				                        <div class="form-group 
				                        	{% if field.errors %} 
				                        		has-error 
				                        	{% endif %}">
				                        <label for="{{ field.auto_id }}" class="col-md-4 control-label">{{ field.label }}</label> 
				                        <div class="col-md-8 inputGroupContainer">
				                            {% render_field field class="form-control" %}
				                            {% for error in field.errors %}
				                            	<span class="help-block">{{ error }}</span>
				                            {% endfor %}
				                          </div>
				                        </div>
			                    	{% endfor %}         
		                    	</fieldset>

			                    <div class="form-group">
			                        <div class="col-md-9 col-md-offset-3">
			                            <button type="submit" class="btn btn-primary">Cadastrar</button>
			                        	</br>
			                        	</br>
			                            <a href="#">Esqueceu sua senha ? Clique aqui!</a>

			                        </div>

			                    </div>
		                	</form>
		                </td>
	            	</div>
	        	</div>
    		</div>
		</div>
	</div>
</div>
{%endblock%}