{% extends 'base.html' %}
{% load static %} 
{% block conteudo %}

<div class="container gallery-container">
	<div class="page-header">
    	<h1>Conheça nossos serviços <img src="{% static 'images/photo-camera.png' %}"></h1>
    </div>
    <p class="page-description text-center">Trabalhamos com festas completas a domicilio.</p>
    <div class="tz-gallery">

    <section class="servicos">    
        <section class="imagem-servico">
             <img src="{% static 'images/servicos/festa-infantil.jpg' %}" alt="festa completa">
        </section>

        <section class="texto-servico">
            <div class="page-header">
                <h3>Festa Infantil Master</h3>
            </div>    
                Cuidamos de TODOS os detalhes para que sua festa aconteça.</br>
                Convite, decoração, papelaria, doces, bolo, gastronomia diferenciada, equipe, recreação e tudo mais.</br>
                Preparamos uma festa única, com base em suas referências, não importa quantas vezes tenhamos feito o mesmo tema, a festa é SUA e terá que refletir o seu estilo.
        </section>  
    </section> 
    
    </br>
    </br>
       
        <section class="servicos">    
            <section class="imagem-servico">
                 <img src="{% static 'images/servicos/festa_pocket.jpg' %}" alt="festa barato">
            </section>

            <section class="texto-servico">
                <div class="page-header">
                    <h3>Festa Pocket</h3>
                </div>    
                    Esse formato foi criando para aquele famoso " bolinho pra familia", que todo mundo quer fazer, pensando em reunir os mais próximos em uma comemoração intima.</br>
                    Porém ao mesmo tempo o filho está sonhando com aquele tema febre do momento e você só consegue ver pela frente , noites e noites sem dormir para resolver tudo.</br> 
                    Não precisa, montamos tudo para você!</br>
                    Uma decoração delicada, comidinhas especiais, sem esquecer de detalhes como os descartáveis ou um suquinho refrescante.
            </section>  
        </section>
    </br>
    </br>  
            
    
        <section class="servicos">    
            <section class="imagem-servico">
                 <img src="{% static 'images/servicos/festa_express.jpg' %}" alt="decoração para festa adulto">
            </section>

            <section class="texto-servico">
                <div class="page-header">
                    <h3>Festa Express</h3>
                </div>    
                    Esse é para os Grandinhos! Pensado para pequenas reuniões de adultos, como aquela promoção no trabalho, a final do campeonato, seu aniversário ou o amigo secreto do escritório, o Menu Express é perfeito para te atender.</br> 
                    Assim como a Festa Delivery, por ter um sistema de cobrança diferenciado (valor fixo e por pessoa) permite atender de jantar romanticos a jantares de até 40 pessoas tranquilamente.
            </section>  
        </section>
    </br>
    </br>

        <section class="servicos">    
            <section class="imagem-servico">
                 <img src="{% static 'images/servicos/locacao_brinquedo.jpg' %}" alt="Brinquedos para festa">
            </section>

            <section class="texto-servico">
                <div class="page-header">
                    <h3>Brinquedos</h3>
                </div>    
                    Pula-pula, cama elástica, piscina de bolinhas, entre outros. Montamos tudo e monitoramos de forma especial e seugura.

            </section> 
        </section> 
    </br>
    </br>

        <section class="servicos">    
            <section class="imagem-servico">
                 <img src="{% static 'images/servicos/docinhos.jpg' %}" alt="Docinhos para festa">
            </section>

            <section class="texto-servico">
                <div class="page-header">
                    <h3>Delicias</h3>
                </div>    
                    Nossas delicias nasceram da necessidade, e vontade, dos nossos clientes em comer nossos quitutes.</br>
                    Temos um cardápio delicioso e que entregamos fresquinho para sua comemoração, coffee break e happy hour e qualquer outra  comemoração.</br>
                    Fale conosco e peça nosso cardápio.
            </section>  
        </section>

    </div>

</div>

{%endblock%}