{% extends 'base.html' %}
{% load static %} 
{% block conteudo %}
{% load pagination %}

<div class="container gallery-container">

    <h1>{{categoria_atual}}</h1>
    
    <div class="tz-gallery">

    {% block messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endblock %}     
    
        {% include "catalogo/_produto.html" %}
    </div>
       	<!--Begin Paginator-->
		{% pagination request paginator page_obj %}
       	<!--End Paginator-->
</div>


{%endblock%}

{% block scripts %}

<script type="text/javascript">
$(function(){
    $('.adicionar-carrinho').on('click', function(e){
        e.preventDefault();
        $.ajax({
            url: $(this).attr('href'),
            dataType: 'json',
            success: function(data, textStatus, jqXHR){
                bootbox.alert(data.message);
            }
        });
    });
});

</script>

{% endblock %}