{% extends 'base.html' %}
{% load static %} 
{% block conteudo %}


<div class="container gallery-container">

    <h1>{{produto_atual}}</h1>

    <div class="tz-gallery">

    <section class="produto">   

        <section class="foto_principal">
            <img src="{{produto_atual.imagem.url}}">
        </section>

        <section class="dados">
            <p>Preço: {{produto_atual.preco_p}}</p>
            </br>
            <p> Quantidade em estoque: {{produto_atual.quantidade}}</p>
            </br>
            <p> Fornecedor: {{produto_atual.nome_f}}</p>
            </br>
            inalterado. Se popularizou na década de 60, quando 
            Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
  
        </section>

        <section class="especificacao">

        </section>

    </section>    
        
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>


{%endblock%}