{% extends 'base.html' %}
{% load static %} 
{% block conteudo %}


<div class="container gallery-container">

    <h1>{{produto_atual}}</h1>

    <div class="tz-gallery">

    <section class="produto_unico">   

        <section class="foto_principal">
            <img src="{{produto_atual.imagem.url}}">
        </section>

        <section class="dados">
            <p> Quantidade em estoque: {{produto_atual.quantidade}}</p>
            <p> Fornecedor: {{produto_atual.nome_f}}</p>
                {% if produto_atual.ativo %}
                    <p> Disponibilidade: Imediata</p>
                {%else%}
                    <p> Disponibilidade: Não</p>
                {%endif%}    

            <article class="preco">
                <p>Por apenas: {{produto_atual.preco_p}}</p>
            </article>

            <article class="btn_compra">
                <button>Comprar</button>    
            </article>
  
            </br>

            <article class="frete">
                <button>Calcular Frete</button>
                <input type="text" name="frete" placeholder="xxxxx-xxx">    
            </article>

        </section>    

        
        <section class="especificacao">

        </section>

    </section>    
        
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>


{%endblock%}