{% extends 'base.html' %}
{% load static %} 
{% block conteudo %}


<div class="container gallery-container">

    <h1>{{produto_atual}}</h1>

    <div class="tz-gallery">

    <section class="produto_unico">   

        <section class="foto_principal">
            <img src="{{produto_atual.imagem.url}}">
        </section>

        <section class="dados">
            <p> Quantidade em estoque: {{produto_atual.quantidade}}</p>
            <p> Fornecedor: {{produto_atual.nome_f}}</p>
                {% if produto_atual.ativo %}
                    <p> Disponibilidade: Imediata</p>
                {%else%}
                    <p> Disponibilidade: Não</p>
                {%endif%} 
            </br>       

            <div class="incremento">
                <article class="btn_incrementar">
                    <input type="text" name="format" value="0" id="format" size="2"/>
                    <input type="button" name="menos" id="menos" value="&#8744" />
                    <input type="button" name="mais" id="mais" value="&#8743" />
                </article>  
                    
                <article class="preco">
                    <p> <span>R$ {{produto_atual.preco_p}}</span> à vista</p>
                    <p>ou 1x de R$ 24,90 Sem juros</p>
                </article>
            </div>
            </br>  
            <button class="btn_compra">Comprar</button>
            <button class="btn_colocar_carrinho"><img src="{% static 'images/topo/carrinho.png' %}">Colocar no carrinho</button>   
            </br>
            </br>  

            <article class="frete">
                <button>Calcular Frete</button>
                <input type="text" name="frete" placeholder="Digite seu cep">
                <p>Atente-se ao tempo de produção dos produtos selecionados, as estimativas de entrega abaixo não contemplam o prazo de produção.</p>    
            </article>

        </section>    

        
        <section class="especificacao">

        </section>

    </section>    
        
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>

{%endblock%}