{% extends 'base.html' %}
{% load static %} 
{% block conteudo %}

<div class="container gallery-container">

    <h1>{{produto_atual}}</h1>

    <div class="tz-gallery">

    <section class="produto_unico">   

        <section class="foto_principal">
            <img src="{{produto_atual.imagem.url}}">
        </section>

        <section class="dados">
            <p> <b>Quantidade em estoque</b>: {{produto_atual.quantidade}}</p>
            <p> <b>Fornecedor</b>: {{produto_atual.nome_f}}</p>
                {% if produto_atual.ativo %}
                    <p><b>Disponibilidade</b>: Imediata</p>
                {%else%}
                    <p><b>Disponibilidade</b>: Não</p>
                {%endif%} 
            </br>       

            <div class="incremento">
                <article class="btn_incrementar">
                    <input type="text" name="format" value="0" id="format" size="2"/>
                    <input type="button" name="menos" id="menos" value="&#8744" />
                    <input type="button" name="mais" id="mais" value="&#8743" />
                </article>  
                    
                <article class="preco">
                    <p> <span>R$ {{produto_atual.preco_p}}</span> à vista</br>
                    ou 1x de R$ 24,90 Sem juros</p>
                </article>
            </div>
            </br> 

             {% if produto.vender %}    
                <p><a href="{% url 'checkout:create_cartitem' produto.slug %}" class="btn btn-success" role="button">Adicionar</a>
                <a href="{{ produto.get_absolute_url }}" class="btn btn-default" role="button">Mais detalhes</a></p>    
            {% endif %}   
            
            </br>
            </br>  

            <article class="frete">
                <div class="busca_frete">
                    <input type="text" name="frete" placeholder="Digite seu cep" id="campo_frete">
                    <button class="btn_calcular_frete">ok</button>
                </div>
                <p>Atente-se ao tempo de produção dos produtos selecionados, as estimativas de entrega abaixo não contemplam o prazo de produção.</p>    
            </article>

        </section>    

        
        <section class="especificacao">

        </section>

    </section>    
        
    </div>
</div>


{%endblock%}