.bg-quemsomos{
	background-image: url(../images/quemsomos/bg.jpg) !important;
	background-repeat: no-repeat;
	width:980px;
}

	.bg-quemsomos h1 {
		color: #faaa29;
	}

.quemsomos{
	max-width: 700px;
	min-width: 600px;
	margin: auto;
}