.navbar-default{
	background-color: #ff9e04ad;
}

.menu_categoria{
	display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    grid-template-rows: 60px;
    width: 100%;
 }
 .box {
  	background-color:#EDEDED
}
 .menu_categoria ul{
    list-style:none;
 }

 .menu_categoria li{
 	width: 100%;
 	height: 100%;
 	display: inline;
 	position: relative;
 	margin-top:;
 	text-align: center;
 }

 .menu_categoria a{
 	text-decoration: none;
 	color: black
 }

 .item:hover{
 	background-color: blue;
 }